### Variables

In [1]:
name= "Ohis"

In [2]:
number = 34

In [3]:
print(number)

34

In [4]:
today_will_rain = False

In [5]:
dev = "We win to night"

In [6]:
print(dev)

We win to night

In [7]:
var1 = var2 = "apple"

In [8]:
print(var2)

apple

In [9]:
print(var1)

apple

### Operations

In [10]:
x = 12
y = 30
z = 5

In [11]:
sum = x+ y

In [12]:
print(sum)

42

In [13]:
d = (x+y)-(x)
d

30

In [14]:
multi = (x*y)
multi

360

In [15]:
foo = z**2

In [16]:
foo

25

In [17]:
v = (x+y) - (x-y)+ x**2

In [18]:
v

204

In [19]:
surn = " Lawrence"

In [20]:
fullname = name + surn

In [21]:
fullname

'OhisLawrence'

## List

### okay, lets continue

In [38]:
shopping = "rice", "beans", "maize"

In [40]:
shopping

('rice', 'beans', 'maize')

In [48]:
shopping[0:3]

('rice', 'beans', 'maize')

In [49]:
shopping_list = "egg", 3, "carrot", "sugar", 78

### Arrays

In [50]:
shop = ["egg", 3, "carrot", "sugar", 23]

In [51]:
c = shop[1]

In [52]:
c

3

In [53]:
b = shop[:3]

In [54]:
b

['egg', 3, 'carrot']

In [55]:
shop[-1]

23

In [56]:
array1 = [12,34,17,20]
array2 = [14,27,20,10]

In [57]:
array3 = array1 + array2

In [58]:
array3

[12, 34, 17, 20, 14, 27, 20, 10]

### counting

In [59]:
count = len(array3)

In [60]:
count

8

In [61]:
min(array3)

10

In [62]:
max(array3)

34

In [66]:
len(array3)

8

In [71]:
c = shop.append("garri")

In [72]:
shop

['egg', 3, 'carrot', 'sugar', 23, 'garri', 'garri', 'garri']

### Asigning value to a list

In [74]:
shop[1] = "banana"

In [75]:
shop

['egg', 'banana', 'carrot', 'sugar', 23, 'garri', 'garri', 'garri']

### delecting items from list

In [76]:
del shop[2]

In [77]:
shop

['egg', 'banana', 'sugar', 23, 'garri', 'garri', 'garri']

### dictionaries

In [83]:
dict = {"name": 'ohis', 'age': 23, 'school': 'ABU'}

In [84]:
dict

{'name': 'ohis', 'age': 23, 'school': 'ABU'}